//
// Application stylesheet
// -----------------------------------------------



.ppe-section-sortable {
    .sortable-placeholder {
        .size(100%, ceil((@navbar-height * 2)));
        margin: @line-height-base 0;
        border: 2px solid @state-warning-border;
        background: @state-warning-bg;
    }
    .sortable-dragging {
        border: 1px solid @state-danger-border;
        background: #f2f2f2;
        .opacity(1);
    }
}

.ppe-action {
    display: block;
    margin-right: floor((@line-height-computed / 2));
    line-height: ceil((@line-height-computed * 2));
}

.ppe-dragindicator {
    cursor: move;
}
