//
// Application stylesheet
// -----------------------------------------------



.ppe-section-sortable {
  .sortable-placeholder {
    .size(100%, ceil((@navbar-height * 2)));
    margin: @line-height-base 0;
    border: 2px solid @state-warning-border;
    background: @state-warning-bg;
  }
  .sortable-dragging {
    border: 1px solid @state-danger-border;
    background: #f2f2f2;
    .opacity(1);
  }
}

.ppe-action {
  display: block;
  margin-right: floor((@line-height-computed));
  line-height: ceil((@line-height-computed * 2));
  &.ppe-action-transition {
    height: ceil((@headings-line-height + (@line-height-computed * 2)));
    min-width: ceil((@navbar-height * 1.5));
    padding-left: @padding-base-horizontal;
    border: 0px solid @gray;
    font-size: @font-size-small;
  }
  &.ppe-action-hidden {
    color: @alert-danger-text;
    background: @alert-danger-bg;
    border: 2px solid @alert-danger-border;
  }
  &.ppe-action-visible {
    color: @alert-success-text;
    background: @alert-success-bg;
    border: 3px solid @alert-success-border;
  }
}

.ppe-dragindicator {
    cursor: move;
}

.ppe-row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  margin-right: 0;
  margin-left: 0;
}

.ppe-col-visible {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  border: 1px solid @gray-light;
}

.ppe-col-action {
  background-color: @gray;
  border-right: 1px solid @text-color;
  .ppe-link {
    text-align: center;
    color: #fff;
  }
}

.ppe-panel {
  padding-top: @line-height-computed;
  border-top: 2px solid @gray;
  .ppe-panel-icon {
    margin-right: ceil((@line-height-computed / 2));
    padding: 0 ceil((@line-height-computed / 2));
    border-right: 1px solid @gray;
  }
}

.app-contentblock {
  position: relative;
  display: block;
  clear:both;
  min-height: ceil(@line-height-computed * 1.5);
  border-top: 1px solid @navbar-inverse-bg;
  color: @navbar-inverse-bg;
}

.contentpanel-editbar {
    position:absolute;
    top:0;
    right:1px;
    display: none;
    width:100%;
    height:100%;
    padding: ceil(@line-height-computed * 1.5) ceil(@line-height-computed / 2);
    background:rgba(255, 255, 255, 0.5);
    border-left: 2px solid @navbar-inverse-border;
    text-align:left;
    color: @text-color !important;
    z-index:2;
}
